.App {
  text-align: center;
}
.panel {
  background-color: hsl(0, 0%, 95%);
  border-radius: .5rem;
  border: solid 1px black;
  padding: 2rem;
  margin: 2rem;
  background: #f5f5f5;
  font-weight: bold;
  align-items: center;
}

.input-container{
  flex-grow:1;
  padding: 1rem;
  text-align: center;
  flex-direction: column;
  height: auto;
}

.input-container input{
  padding: .5rem .75rem;
  border: solid 1px black;
  border-radius: .15rem;
  text-align: center;
}

.nav-footer {
width: 100%;
display: flex;
border-top: solid 1px black;
margin-top: 1em;
div {
  width: 50%;
}
}

button {
width: 30em;
height: 3em;
padding: 1em;
margin-top: 1em;
color: white;
background: skyblue;
border: solid 1px #000;
border-radius: 0.4em;
box-shadow: none;
&:hover {
  color: skyblue;
  background: white;
}
}

ul {
text-align: center;
list-style: none;
color: blue;
& li {
  margin-top: 1em;
}
}

@media screen and (max-width: 580px) and (min-width: 375px) {
  .input-container {
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-around;
   align-items: center;
}
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
